@import "/resources/primary.css";

:root{
    background-image: var(--backdrop) ;
    color:var(--text);
}

#title {
    color: var(--primary-600);
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 0;
    height: 135px   ;
    padding: 0;
}

#titlecard{
    margin: 0;
    padding: 0;
    padding-left: 55px;
    color: var(--basic  );
}

.menuboxcont{
    margin: auto;
    display: block;
    width:fit-content;

}

.imagebox{
    display: inline-block;
    aspect-ratio: 1;
    width: 18%;
    padding: 30px;
    background-color: #b14545;
}

#menubar {
    background-color: var(--primary-200);

    padding: 0;
    margin: 10px auto;

    width: 90%;
    border-radius: 25px;

    font-size: 0;
}
.menubartitle  {
    padding: 2px;
    padding-right: 10px;
    font-size: 30px;
    display: inline-block;
    color:var(--text);
}

.menubox{
    display: inline-block;
    width: fit-content; height: 100%;
    background-color: #6c6985;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-color: transparent;
    transition: 0.4s;
    font-size: initial;
}
.menubox:hover{
    background-color: #5b2c5f;
    border-color: #200fbd;
}
    
.menuitemtext{
    font-size: 200%;
    padding: 0 5px;
    color:white;
    text-align: center;  
    position: relative;
    text-decoration:none;
}
.menuboxcont #dropdown {
    display: none;
}


.footer{
    display: block;
    position: absolute;
    bottom: 1%;    
}
.footer a{
    padding: 0px;
    margin: 0px;
}

a:hover {
    border: #ffffff;
}

.bodyframe {
    width: 100%;
    padding: 0px;
    margin: 0px;
    height: 100vh;
    overflow: hidden; 
}

.DisplayImg {
    width: 31%;
    padding: 1%;
    display: inline-block;
}

#chevron{
    transition: 200ms;
}

@keyframes recieve {
    from { width: 0 }
    to { width: 100% }
}

@media only screen and (max-aspect-ratio: .78) {
    .DisplayImg {
        width:98%;
        padding: 1%;
        display: block;
    }
    .menubox{
        display: none;
        margin: auto; 
    }
    .menuboxcont #dropdown {
        display: inline-block;
        padding: 0 25px;
        width:39px;
    }
    .menuboxcont #dropdown img {
        display: block;
        aspect-ratio: 1;
        width:39px;
        padding: 0;
        
    }
}